# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
project

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
*.local

# Build output in root (from projects/)
/index.html
/assets/
/.htaccess
/android-icon-*.png
/apple-icon-*.png
/ms-icon-*.png
/favicon*.png
/favicon.ico
/browserconfig.xml
/manifest.json
/images/

# OS files
Thumbs.db
